p, li, th, td {
    font-size: 20px;
}

.reveal h1 {
    font-size: 50px;
}

.reveal h2 {
    font-size: 50px;
}

.reveal h3 {
    font-size: 40px;
}

.reveal h4 {
    font-size: 30px;
}

.reveal h5 {
    font-size: 20px;
}

.reveal pre code {
    font-size: 15px;
    line-height: 1rem;
    max-height: 600px;
}

